<template name="poll">

<div class="poll" data-id="{{ _id }}">

    <div class="col-md-12"><h3>{{ question }}</h3></div>
<div class="col-md-2">&nbsp;</div>

    {{ #each indexedArray choices }}

<div class= "col-md-4"><img class ="poll-image" src="{{ url }}">
   {{#if ifPuppy @index}}
    Puppy
    {{else}}
    Kitten
    {{/if}}
        <a href="#" class="vote" data-id="{{ _index }}">
            <span class="votes pull-right">{{ votes }}</span>
        </a>
  </div>
   {{ /each }}

</div>
</template>
