body  {
  padding-top:50px;
  color:#000;
}
.polls  {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
.poll   {
  width:100%;
  margin:20px;
}

.poll-image {
  width:100%;
  height:
}

h1,h3 {
  text-align: center;
}
